<!DOCTYPE html>
<html>

{% load static %}

<head>
	<meta charset="UTF-8">
	<title>MusicInformation Bot</title>
  <style>
  * {
    font-family: 'Avenir';
  }
  .bubbleWrapper {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
  }
  .inlineContainer {
    display: inline-flex;
  }
  .inlineContainer.own {
    flex-direction: row-reverse;
  }
  .inlineIcon {
    width:20px;
    object-fit: contain;
  }
  .ownBubble {
    min-width: 60px;
    max-width: 700px;
    padding: 14px 18px;
    margin: 6px 8px;
    background-color: #5b5377;
    border-radius: 16px 16px 0 16px;
    border: 1px solid #443f56;
   
  }
  .otherBubble {
    min-width: 60px;
    max-width: 700px;
    padding: 14px 18px;
    margin: 6px 8px;
    background-color: #6C8EA4;
    border-radius: 16px 16px 16px 0;
    border: 1px solid #54788e;
    
  }
  .own {
    align-self: flex-end;
  }
  .other {
    align-self: flex-start;
  }
  span.own,
  span.other{
    font-size: 14px;
    color: grey;
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style="background: #fd7e14;">
  <div class="container" style="background: white;">
    <center><h1 style="padding-top: 100px;padding-bottom: 100px;">MUSICINFORMATION BOT</h1></center>
    <div class="bubbleWrapper">
      <div class="inlineContainer" style="margin-top: 100px;">
        <img class="inlineIcon" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png">
        <div class="otherBubble other">
          {{ bot_message }}
        </div>
      </div><span class="other">08:41</span>
    </div>
    <div class="bubbleWrapper" style="margin-bottom: : 100px;">
      <div class="inlineContainer own" style="margin-top: 100px;">
        <img class="inlineIcon" src="https://www.pinclipart.com/picdir/middle/205-2059398_blinkk-en-mac-app-store-ninja-icon-transparent.png">
        <div class="ownBubble own">
         {{ user_message }}
        </div>
      </div><span class="own">08:55</span>
    </div>
      <div class="chat-input" style="padding-bottom: 100px; margin-top: 200px;">
        <form action="submit" id="user-input-form" method="post">{% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ketik disini" name="user_message">
          </div>
<!--           <div class="row">
            <div class="col-lg-12">
              <input type="text" placeholder="chat disini" name="user_message" width="100%">
            </div>
          </div> -->
        </form>
      </div>
    
  </div>
</body>

</html>

